vndbinder_use(hal_drm)

# Allow access to app_data and media_data_files
allow hal_drm media_data_file:dir create_dir_perms;
allow hal_drm media_data_file:file create_file_perms;

allow hal_drm mpdecision_socket:dir r_dir_perms;
allow hal_drm mpdecision_socket:sock_file write;
allow hal_drm mpdecision:unix_dgram_socket sendto;
