# CPU governor (root process)
type mpdecision, domain;
type mpdecision_exec, exec_type, file_type;

init_daemon_domain(mpdecision)

allow mpdecision {
    cpuctl_device
    sysfs_mpdecision
    sysfs_devices_system_cpu
    sysfs_cpu_online
}:file rw_file_perms;

#Allow mpdecision set cpu affinity
allow mpdecision kernel:process setsched;

allow mpdecision self:netlink_kobject_uevent_socket { create read setopt bind };
allow mpdecision self:socket create_socket_perms;
allowxperm mpdecision self:socket ioctl msm_sock_ipc_ioctls;
allow mpdecision power_control_device:chr_file w_file_perms;
allow mpdecision sysfs_usb:file write;

r_dir_file(mpdecision, audioserver)
r_dir_file(mpdecision, mediaserver)
r_dir_file(mpdecision, sysfs_rqstats)
r_dir_file(mpdecision, sysfs_thermal)
allow mpdecision sysfs_thermal:file write;
r_dir_file(mpdecision, system_server)

allow mpdecision cameraserver:dir search;
allow mpdecision cameraserver:file { read open };

allow mpdecision sysfs_socinfo:dir search;
allow mpdecision sysfs_socinfo:file { read open getattr };

#policies for mpctl and mpctl socket
allow mpdecision self:capability { chown fsetid net_admin sys_nice };
allow mpdecision mpctl_socket:dir rw_dir_perms;
allow mpdecision mpctl_socket:sock_file create_file_perms;

#default_values file
allow mpdecision mpctl_data_file:dir w_dir_perms;
allow mpdecision mpctl_data_file:file create_file_perms;

# Allow reading /dev/cpuctl/cpu.notify_on_migrate
allow mpdecision cgroup:file read;

r_dir_file(mpdecision, hal_power_default)
