allow platform_app time:unix_stream_socket connectto;

allow platform_app nfc_service:service_manager find;

allow platform_app proc_bootinfo:file read;

unix_socket_connect(platform_app, adspd, adspd)
