binder_call(rild, audioserver)
binder_call(rild, mediaserver)
binder_use(rild)
binder_service(rild)

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

allow rild persist_file:dir search;
allow rild persist_modem_file:dir rw_dir_perms;
allow rild persist_modem_file:file create_file_perms;

allow rild sysfs_capsense_update:file { getattr w_file_perms};
allow rild sysfs_sar_wifi:file { getattr w_file_perms};

allow rild audio_cutback_data_file:dir rw_dir_perms;
allow rild audio_cutback_data_file:sock_file create_file_perms;
# why?
allow rild audio_cutback_data_file:dir setattr;

# rild reads proc/<pid> to check if process is netmgrd
# Grant access if that's the case; don't log denials for other processes.
r_dir_file(rild, netmgrd)
dontaudit rild { domain -netmgrd }:dir search;
dontaudit rild { domain -netmgrd }:file { open read getattr };

# Allow permissions for FSG
allow rild fsg_file:dir search;
allow rild fsg_file:file r_file_perms;

allow rild audioserver_service:service_manager find;
allow rild mediaserver_service:service_manager find;

# whitelist qualcomm specific ioctls
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;

# allow rild to access radio data file
allow rild radio_data_file:dir rw_dir_perms;
allow rild radio_data_file:file create_file_perms;

# for /system/bin/qmi_motext_hook
allow rild system_file:file execute_no_trans;

allow rild proc_bootinfo:file r_file_perms;

get_prop(rild, wifi_prop);
