type ss_ramdump, domain;
type ss_ramdump_exec, exec_type, file_type;

# STOPSHIP - CTS violation
permissive ss_ramdump;

# Started by init
init_daemon_domain(ss_ramdump)

# read the contents of the /dev directory
allow ss_ramdump device:dir r_dir_perms;
