allow system_app time:unix_stream_socket connectto;

allow system_app atfwd_service:service_manager add;

allow system_app cne_service:service_manager add;

allow system_app proc_pagetypeinfo:file read;

allow system_app sysfs_zram:dir search;

unix_socket_connect(system_app, cnd, cnd)
