
type tcmd, domain;
type tcmd_exec, exec_type, file_type;

init_daemon_domain(tcmd)

#STOPSHIP: Finish the policy.  Permissive not allowed.
permissive tcmd;

# Uses network sockets.
net_domain(tcmd)

# Set property.
unix_socket_connect(tcmd, property, init)

# Uses /dev/ttydiag2
userdebug_or_eng(`
  allow tcmd diag_device:chr_file rw_file_perms;
')

# Uses raw socket
allow tcmd self:capability net_raw;
