# Temperature sensor daemon (root process)
type thermald, domain;
type thermald_exec, exec_type, file_type, system_file_type;

# Started by init
init_daemon_domain(thermald)
qmux_socket(thermald)

allow thermald self:capability { fsetid chown };

# Create and access to /dev/socket/thermal-.*
type_transition thermald socket_device:sock_file thermald_socket;
allow thermald socket_device:dir w_dir_perms;
allow thermald thermald_socket:sock_file create_file_perms;

allow thermald self:socket create_socket_perms;
allowxperm thermald self:socket ioctl msm_sock_ipc_ioctls;

allow thermald {
    shared_log_device
    thermal_engine_device
}:chr_file rw_file_perms;

allow thermald sysfs_socinfo:dir search;
allow thermald sysfs_socinfo:file { read open getattr };

allow thermald {
    sysfs
    sysfs_batteryinfo
    sysfs_esoc
    sysfs_hwmon
    sysfs_kgsl
    sysfs_qup_i2c
    sysfs_thermal
    sysfs_vadc_dev
}:dir r_dir_perms;

allow thermald {
    sysfs_esoc
    sysfs_hwmon
    sysfs_kgsl
    sysfs_qup_i2c
    sysfs_vadc_dev
}:file r_file_perms;

allow thermald sysfs_usb:file write;

allow thermald {
    sysfs_batteryinfo
    sysfs_kgsl_gpuclk
    sysfs_mpdecision
    sysfs_thermal
}:file rw_file_perms;
