on early-boot
    chmod 664 /sys/class/leds/red/brightness
    chmod 664 /sys/class/leds/green/brightness
    chmod 664 /sys/class/leds/blue/brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.shamu
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
